.pagination {
   display: flex;
   justify-content: space-between;
   .next-pre {
      display: flex;
   }
   .page {
      display: flex;
   }
}
.etc-wrap {
   display: flex;
   .etc {
      width: 35px;
      height: 35px;
      align-self: center;
      color: rgb(181, 181, 181);
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
