button {
   border: none;
   color: white;
   border-radius: 3px;
   font-weight: 500;
   cursor: pointer;
   &:hover {
      filter: brightness(0.96);
   }
}
a {
   color: white;
   text-decoration: none;
   &:hover {
      color: #428bca;
      background-color: #102c48;
   }
}
.medium {
   padding: 7px 16px;
   height: 40px;
   min-width: 110px;
   font-size: 1.6rem;
}
.large {
   width: 100%;
   height: 60px;
   box-sizing: border-box;
   padding: 11px 24px;
   font-size: 2.4rem;
   border-radius: 5px;
}
.small {
   height: 30px;
   padding: 5px 12px;
   font-size: 1.3rem !important;
}

.classic {
   background-color: #3488ce;
}
.primary {
   background-color: var(--primaryColor);
}
.layout {
   background-color: transparent;
   font-size: 1.4rem;
   color: rgba(255, 255, 255, 0.7);
   text-transform: uppercase;
   font-weight: 600;
   font-family: sans-serif;
   height: 48px;
   width: 160px;
}
.danger {
   background-color: #dd003f;
   text-transform: uppercase;
}
.facebook {
   background-color: #3e56c4;
   border-radius: 5px;
   font-size: 1.6rem;
   font-weight: 400;
   svg {
      margin-right: 1.4rem;
   }
   &:hover {
      filter: brightness(0.95);
      background-color: #3e56c4;
      color: white;
   }
}
.collection {
   background-color: transparent;
   border-radius: 5px;
   color: #3e8ed0;
   border: 1px solid currentColor;
   svg {
      margin-right: 0.8rem;
   }
   &:hover {
      background-color: #3488ce;
      color: white;
      border-color: #3488ce;
   }
}
.genre {
   height: 30px;
   color: white;
   background-color: transparent;
   border-radius: 9999px;
   padding: 5px 15px;
   border: 1px solid white;
   font-size: 1.2rem;
   &:hover {
      background-color: white;
      color: #485fc7;
   }
}
.episode {
   height: 40px;
   padding: 7px 16px;
   background-color: #48c78e;
   font-size: 1.6rem;
   border-radius: 5px;
}

.genre-list-view {
   color: #dbdbdb;
   background-color: #363636;
   padding: 4px 8px;
   border-radius: 4px;
   font-size: 1.3rem;
   &:hover {
      background-color: #363636 !important;
      color: #dbdbdb;
      text-decoration: underline;
   }
}
.genre-list-view + .genre-list-view {
   margin-left: 8px;
   height: fit-content;
}

.pagination {
   height: 40px;
   min-width: 40px;
   background-color: transparent;
   border: 1px solid rgb(219, 219, 219);
   transition: all 0.1s;
   margin: 4px;
   padding: 7px 8px;
   font-size: 1.6rem;
   color: #dbdbdb;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 3px;
   &:hover {
      border-color: #b5b5b5;
      color: #dcf836;
      filter: unset;
   }
}
.paginationActive {
   background-color: #428bca;
   border-color: #428bca;
   color: #fff;
   &:hover {
      background-color: #428bca;
      border-color: #428bca;
      color: #fff;
   }
}
