button {
   border: none;
   color: white;
   border-radius: 3px;
   cursor: pointer;
   &:hover {
      filter: brightness(0.96);
   }
}
a {
   color: white;
   text-decoration: none;
   &:hover {
      color: #428bca;
      background-color: #102c48;
   }
}
.medium {
   padding: 7px 16px;
   height: 40px;
   min-width: 120px;
   font-size: 1.6rem;
}
.large {
}
.small {
}

.primary {
   background-color: var(--primaryColor);
}

.layout {
   background-color: transparent;
   font-size: 1.4rem;
   color: rgba(255, 255, 255, 0.7);
   text-transform: uppercase;
   font-weight: 600;
   font-family: sans-serif;
   height: 48px;
   width: 160px;
}

.genre-list-view {
   color: #dbdbdb;
   background-color: #363636;
   padding: 4px 8px;
   border-radius: 4px;
   font-size: 1.3rem;
   &:hover {
      background-color: #363636 !important;
      color: #dbdbdb;
      text-decoration: underline;
   }
}
.genre-list-view + .genre-list-view {
   margin-left: 8px;
   height: fit-content;
}
