.filter {
   padding: 0 10px;
   background-color: rgba(14, 39, 64, 0.45);
   border-radius: 3px;
   display: flex;
}
.filter-item {
   padding: 12px;
   flex: 1;
}
.title {
   margin-bottom: 8px;
}
.select-wrap {
   position: relative;
}
.select {
   font-size: 1.6rem;
   padding: 10px 3rem 9px 7px;
   border-radius: 4px;
   color: #363636;
   outline: none;
   cursor: pointer;
   -webkit-appearance: none;
   -moz-appearance: none;
   position: relative;
   width: 100%;
}
.arrow-down {
   position: absolute;
   top: 50%;
   right: 10px;
   z-index: 10;
   padding: 3px;
   display: block;
   border: 3px solid #428bca;
   border-radius: 4px;
   transform: rotate(45deg) translateX(-100%);
   border-top-color: transparent;
   border-left-color: transparent;
}
