.header {
   height: 56px;
   display: flex;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999;
   transition: all 0.5s;
}
.background {
   background-color: rgba(51, 10, 103, 0.93);
}
.brand {
   &:hover {
      background: unset;
   }
   img {
      width: 112px;
      height: 28px;
   }
}
.menu {
   display: flex;
   flex: 1;
   justify-content: space-between;
   align-items: center;
}
.start {
   height: 100%;
   display: flex;
}
.item {
   padding: 8px 12px;
   height: 100%;
   display: block;
   display: flex;
   align-items: center;
}
.icon {
   margin-right: 4px;
   margin-bottom: 2px;
}
