.header {
   height: 56px;
   display: flex;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999;
   transition: all 0.5s;
}
.background {
   background-color: rgba(51, 10, 103, 0.93);
}
.brand {
   &:hover {
      background: unset;
   }
   img {
      width: 112px;
      height: 28px;
   }
}
.menu {
   display: flex;
   flex: 1;
   justify-content: space-between;
   align-items: center;
}
.start {
   height: 100%;
   display: flex;
}
.item {
   padding: 8px 12px;
   height: 100%;
   display: block;
   display: flex;
   align-items: center;
}
.icon {
   margin-right: 4px;
   margin-bottom: 2px;
}

.name-group {
   display: flex;
   padding: 20px 22px;
   position: relative;
   .name {
      margin-right: 18px;
   }
   &:hover {
      background-color: #102c48;
      cursor: default;
      .name {
         color: #428bca;
      }
      .drop-down {
         display: block;
      }
   }
   &::after {
      content: '';
      width: 6px;
      height: 6px;
      border: 3px solid #428bca;
      border-radius: 3px;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate(45deg);
      position: absolute;
      right: 16px;
   }
}

.drop-down {
   position: absolute;
   top: 100%;
   right: 0;
   background-color: rgb(41, 41, 41);
   padding: 6px 0;
   border-radius: 5px;
   display: none;
   a,
   button {
      display: flex;
      align-items: center;
      min-width: 190px;
      padding: 8px 12px;
      background: none !important;
      &:hover {
         background-color: white !important;
         color: black !important;
      }
      svg {
         width: 22px;
         height: 22px;
      }
      span {
         font-size: 1.4rem;
         margin-left: 10px;
      }
   }
}
